* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'vale';
    src: url(Valencia.otf);
}

@font-face {
    font-family: 'amor';
    src: url(Amor.ttf);
}

@font-face {
    font-family: 'roma';
    src: url(Romantica.ttf);
}

@font-face {
    font-family: 'holi';
    src: url(Holidays\ Homework.ttf);
}

::-webkit-scrollbar {
    background-color: rgba(137, 43, 226, 0.575);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    width: 5px;
    border-radius: 30px;
}


.back1 {

    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(034.png);
}

.back2 {

    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(036.jpg);
}

.back3 {

    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(030.png);
}

.back3a {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(044.png);
}

.back4 {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(040.jpg);
}




.interface {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: scroll;
    overflow-x: hidden;

}


section {
    height: 100vh;

    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-family: 'vale';
}

.te1 {
    font-family: 'roma';
    font-size: 60px;
    text-shadow: 4px 4px 8px #000;
}

.t1 {
    position: absolute;
    top: 480px;
    font-family: 'roma';
    font-size: 60px;
    font-style: italic;
    text-shadow: 4px 4px 8px #000;

}

.te2 {
    position: absolute;
    top: 0.5cm;
    left: 1cm;
    font-size: 45px;
    text-shadow: 4px 4px 8px #000;
}

.te3 {
    position: absolute;
    top: 0.5cm;
    left: 1cm;
    font-size: 45px;
    text-shadow: 4px 4px 8px #000;
    color: #f5f5f5;

}

.te4a {
    position: absolute;
    top: 0.5cm;
    left: 1cm;
    font-size: 45px;
    text-shadow: 4px 4px 8px #000;
    color: #f5f5f5;


}

.te4 {
    font-style: italic;
    font-size: 60px;
    text-shadow: 5px 5px 8px #000;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;

}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }

}



.par1 {
    font-style: italic;
    font-size: 42.2px;
    font-family: 'vale';
    text-shadow: 3px 4px 10px #000;
}

.par2 {
    color: whitesmoke;
    font-style: italic;
    font-size: 41px;
    font-family: 'vale';
    text-shadow: 3px 4px 10px #000;
    position: absolute;
    top: 60px;
}

.par3 {
    color: whitesmoke;
    font-style: italic;
    font-size: 41px;
    font-family: 'vale';
    text-shadow: 3px 4px 10px #000;
    position: absolute;
    top: 60px;
}

.par3a {
    font-size: 60px;
    position: absolute;
    top: 400px;
    text-shadow: 6px 4px 7px #000;
}

.img1 {
    position: absolute;
    top: 350px;
    left: 80%;
    width: 150px;
    height: 235px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 6px 6px 20px #000;

}

.img2 {
    position: absolute;
    top: 40px;
    left: 80%;
    width: 150px;
    height: 235px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 6px 6px 20px #000;



}

.img3 {
    position: absolute;
    top: 40px;
    left: 10%;
    width: 150px;
    height: 235px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 6px 6px 20px #000;



}

.img4 {
    position: absolute;
    top: 350px;
    left: 10%;
    width: 150px;
    height: 235px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 6px 6px 20px #000;



}

.but {
    position: absolute;
    top: 450px;
    left: 32%;
    width: 500px;
    height: 100px;
    font-family: 'vale';
    font-size: 60px;
    color: #ffffff;
    background-color: transparent;
    backdrop-filter: blur(3px);
    border: 2px solid #e241bf;
    border-color: #ffffff;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 4px 4px 20px #000;
    text-decoration: none;
    animation: float 5s ease-in-out infinite;
    animation-delay: 2s;
    transition: backdrop-filter 0.75s;
    text-shadow: 4px 4px 6px #000;


}

.but:hover {
    backdrop-filter: blur(10px);
}